/* App.css */
.App {
  height: 100%;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #333;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 101px;
  background: #fff;
  box-shadow: none; /* Remove bottom line */
  position: sticky;
  top: 0;
  z-index: 1000;
  flex-shrink: 0;
}

.header.blurr {
  background-color: #d1d0d3;
}

.header nav {
  display: flex;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  position: relative;
}

nav a.active::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background: green;
  position: absolute;
  bottom: -5px;
  left: 0;
}

.logo {
  width: 100px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.cart-icon {
  font-size: 24px;
  width: 45px;
  height: 45px;
  cursor: pointer;
}

/* Main Content */
.main {
  padding: 40px 101px;
  flex: 1;
  overflow: auto;
}

.blur {
  background: rgba(57, 55, 72, 0.22);
  filter: brightness(0.75);
}

h1 {
  margin-bottom: 30px;
  font-size: 28px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

/* ProductList.css */
.product-list {
  display: grid; /* Enable CSS Grid */
  grid-template-columns: repeat(auto-fit, minmax(386px, 1fr)); /* Max 4 items per row */
  gap: 20px; /* Add space between grid items */
  justify-content: center; /* Center items horizontally */
  box-sizing: border-box; /* Ensure padding is included in the total width */
}

.cart-dropdown {
  position: fixed;
  top: 50px;
  width: 30%;
  border: 1px solid red;
  padding: 16px;
  z-index: 99;
  background-color: white;
  right: 72px;
}

.cart-order {
  width: 100%;
  color: white;
  background-color: #5ECE7B;
  border: none;
  height: 43px;
}
