.cart-container {
    width: 300px;
    padding: 20px;
    position: fixed;
    right: 101px;
    z-index: 99;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .cart-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .cart-items {
    max-height: 400px;
    overflow-y: auto;
  }
  
  .cart-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  
  .cart-item-details {
    flex: 1;
    margin-right: 10px;
  }
  
  .top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .item-name {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
  }
  
  .item-price {
    font-size: 14px;
    color: gray;
    margin: 5px 0;
  }
  
  .size-options, .color-options, .capacity-options {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 5px;
  }

  .capacity-button,
  .size-button {
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 12px;
    cursor: pointer;
    background-color: white;
  }

  .color-button {
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 12px;
    cursor: pointer;
  }

  .color-button.selected {
    border: 2px solid red;
  }
  
  .size-button.selected,
  .capacity-button.selected {
    border-color: #000;
    color: white;
    background-color: #000;
    font-weight: bold;
  }
  
  
  .bottom-row {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
  }
  
  .quantity-button {
    border: 1px solid #ccc;
    background-color: white;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 14px;
  }
  
  .cart-item-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .cart-footer .total{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  
  .total {
    font-size: 16px;
    font-weight: bold;
  }
  
  .place-order-button {
    width: 100%;
    background-color: #52D67A;
    color: white;
    padding: 10px 15px;
    border: none;
    font-size: 14px;
    font-weight: bold;
    height: 43px;
    cursor: pointer;
  }
  